*.png
NL_EZS_SP_vizsgaremek_v3.2.9_nl.pkt
WindowsServer_Telephely/WinServ_Telephely/WinServ_Telephely.vdi
WindowsServer_Telephely/WinServ_Telephely/WinServ_Telephely.vbox-prev
WindowsServer_Telephely/WinServ_Telephely/WinServ_Telephely.vbox
WindowsServer_Telephely/WinServ_Telephely/Logs/VBoxHardening.log
WindowsServer_Telephely/WinServ_Telephely/Logs/VBox.log.3
WindowsServer_Telephely/WinServ_Telephely/Logs/VBox.log.2
WindowsServer_Telephely/WinServ_Telephely/Logs/VBox.log.1
WindowsServer_Telephely/WinServ_Telephely/Logs/VBox.log
