*.png
NL_EZS_SP_vizsgaremek_v3.2.9_nl.pkt
WindowsServer_Telephely/WinServ_Telephely/WinServ_Telephely.vdi
WindowsServer_Telephely/WinServ_Telephely/WinServ_Telephely.vbox-prev
WindowsServer_Telephely/WinServ_Telephely/WinServ_Telephely.vbox
WindowsServer_Telephely/WinServ_Telephely/Logs/VBoxHardening.log
WindowsServer_Telephely/WinServ_Telephely/Logs/VBox.log.3
WindowsServer_Telephely/WinServ_Telephely/Logs/VBox.log.2
WindowsServer_Telephely/WinServ_Telephely/Logs/VBox.log.1
WindowsServer_Telephely/WinServ_Telephely/Logs/VBox.log
NL_EZS_SP_vizsgaremek_v3.3.3_nl.pkt
Iroda2/1941/Router2 - Iroda_startup-config.txt
Iroda2/1941/Router2 - Iroda_startup-config2.txt
Iroda3/1941/router3-iroda_startup-config.txt
Iroda3/1941/router3-iroda_startup-config2.txt
Iroda3_Linux_Server/Iroda3_Linux_Server/Iroda3_Linux_Server.vdi
Iroda3_Linux_Server/Iroda3_Linux_Server/Iroda3_Linux_Server.vbox-prev
Iroda3_Linux_Server/Iroda3_Linux_Server/Iroda3_Linux_Server.vbox
Iroda3_Linux_Server/Iroda3_Linux_Server/Logs/VBoxHardening.log
Iroda3_Linux_Server/Iroda3_Linux_Server/Logs/VBox.log
